@model coffeeMVV04.Model.EF.HoaDon
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Sales/Views/Shared/_Layout.cshtml";
}
<style>
    input {
        width: 100%;
        padding: 10px;
    }

    .form-group {
        margin-top: 10px;
    }

    button {
        margin-top: 10px;
        padding: 5px 20px;
        background-color: forestgreen;
        color: white;
        transition: .2s ease-in-out;
        cursor: pointer;
        border: none;
    }

        button:hover {
            background-color: green;
        }
</style>
@using (Html.BeginForm("Add", "Order", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    <div class="details" style="margin:0 auto;width:70%">
        <div class="recentMenu">
            <div class="cardHeader">
                <h2>Thêm hóa đơn</h2>
            </div>
            <table class="tg">
                <thead>
                    <tr>
                        <th class="tg-2u83">ID</th>
                        <th class="tg-2u83">ID User</th>
                        <th class="tg-2u83">ID Sản phẩm</th>
                        <th class="tg-2u83">Date</th>
                        <th class="tg-2u83">Số lượng</th>
                        <th class="tg-2u83">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                        <td class="tg-0pky"></td>
                    </tr>
                    <tr>
                        <td class="tg-cmh6" colspan="5" style="font-size: 20px; font-weight: bold">Tổng cộng: </td>
                        <td class="tg-0pky"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button> Thêm </button>
    </div>
}
