
@{
    ViewBag.Title = "Add";
}
<style>
    input {
        width: 100%;
        padding: 10px;
    }

    button {
        margin-top: 10px;
        padding: 5px 20px;
        background-color: forestgreen;
        color: white;
        transition: .2s ease-in-out;
        cursor: pointer;
        border: none;
    }

        button:hover {
            background-color: green;
        }
</style>

<div class="details" style="margin:0 auto;width:50%">
    <div class="recentMenu">
        <div class="cardHeader">
            <h2>Thêm thông tin nhân viên mới</h2>
        </div>
        <table>
            <thead>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>000</td>
                </tr>
                <tr>
                    <td>Họ tên</td>
                    <td><input type="text" /></td>

                </tr>
                <tr>
                    <td>Số điên thoại</td>
                    <td><input type="text" /></td>

                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" /></td>
                </tr>
                <tr>
                    <td>Mật khẩu</td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td>địc chỉ</td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td>Chức vụ</td>
                    <td>Nhân viên bán hàng</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button>Thêm</button>
</div>

