@model coffeeMVV04.Model.EF.DanhMuc

@{
    ViewBag.Title = "Add";
}

<style>
    input {
        width: 100%;
        padding: 10px;
    }

    button {
        margin-top: 10px;
        padding: 5px 20px;
        background-color: forestgreen;
        color: white;
        transition: .2s ease-in-out;
        cursor: pointer;
        border: none;
    }

        button:hover {
            background-color: green;
        }
</style>


@{string lam = Request.Params["Add"];
    if (lam == "category")
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <div class="details" style="margin:0 auto;width:50%">
            <div class="recentMenu">
                <div class="cardHeader">
                    <h2>Thêm danh mục</h2>
                </div>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label for="InputID">Tên danh mục</label>
                    @Html.TextBoxFor(a => a.TenDanhMuc, new { @Class = "form-control", @placeHolder = "Tên danh mục" })
                    @Html.ValidationMessageFor(a => a.TenDanhMuc, null, new { @class = "text-danger" })
                </div>
            </div>
            <button>Thêm</button>
        </div>}
    }
    else
    {
        <div class="details" style="margin:0 auto;width:50%">
            <div class="recentMenu">
                <div class="cardHeader">
                    <h2>Sửa sản phẩm</h2>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>id</td>
                            <td>CF001</td>
                        </tr>
                        <tr>
                            <td>tên sản phẩm</td>
                            <td><input type="text" name="newPDName" /></td>
                        </tr>
                        <tr>
                            <td>Avatar</td>
                            <td><input type="file"></td>
                        </tr>
                        <tr>
                            <td>danh muc</td>
                            <td>
                                <select>
                                    <option value="1">Cafe</option>
                                    <option value="2">Trà</option>
                                    <option value="3">Nước trái cay</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Mo tả</td>
                            <td>
                                <input type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>Giá</td>
                            <td><input type="number" /></td>
                        </tr>
                        <tr>
                            <td>Giảm giá</td>
                            <td>
                                <input type="number" />
                            </td>
                        </tr>
                        <tr>
                            <td>số lượng</td>
                            <td>
                                <input type="number" />
                            </td>
                        </tr>
                        <tr>
                            <td>tình trạng</td>
                            <td><input type="text" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button>Thêm</button>
        </div>
    }
}

