@model coffeeMVV04.Model.EF.DanhMuc

@{
    ViewBag.Title = "Add";
}

<style>
    input {
        width: 100%;
        padding: 10px;
    }

    button {
        margin-top: 10px;
        padding: 5px 20px;
        background-color: forestgreen;
        color: white;
        transition: .2s ease-in-out;
        cursor: pointer;
        border: none;
    }

        button:hover {
            background-color: green;
        }
</style>


@{string lam = Request.Params["Delete"];

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="details" style="margin:0 auto;width:50%">
            <div class="recentMenu">
                <div class="cardHeader">
                    <h2>Xóa danh mục</h2>
                </div>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label for="InputID">Tên danh mục</label>
                    @Html.TextBoxFor(a => a.TenDanhMuc, new { @Class = "form-control", @placeHolder = "Tên danh mục" })
                    @Html.ValidationMessageFor(a => a.TenDanhMuc, null, new { @class = "text-danger" })
                </div>
            </div>
            <button>Xóa</button>
        </div>
    }
}


